/* src/pages/CardCollection.css */
.card-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  
  .size-buttons {
    display: flex;
    justify-content: center;
    margin: 1em;
    gap:1em;
  }
  
  .size-buttons button {
    font-family: distro;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    cursor: pointer;
  }
  
  .size-buttons button:hover {
    background-color: #f0f0f0;
  }
  
  .size-buttons button:active {
    background-color: #ccc;
  }

  .card-wrapper.small{
    width: 142px;
    padding: 1em;
    height:204px;
  }

  .card-wrapper.medium{
    width: 315px;
    padding: 1em;
  }
  
  .card-wrapper.large{
    width: 460px;
    height: 645px;
    padding: 1em;
  }
  
  .card-wrapper.small .card-container {
    transform-origin: 0% 0%;
    transform: scale(0.22);
  }
  
  .card-wrapper.medium .card-container {
    transform-origin: 0% 0%;
    transform: scale(0.44);
  }
  
  .card-wrapper.large .card-container {
    transform-origin: 0% 0%;
    transform: scale(0.62);
  }

  .pagination {
    font-size: 1em;
    text-align: center;
  }

  .pagination button {
    font-size: 0.8em;
    min-width: 6em;
    padding: 0.5em;
    margin: 1em 2em;
    border-radius: 21em;
    background-color: black;
    border: 1px solid white;
    color: white;
    cursor:pointer;
  }

  .pagination button:disabled {
    opacity: 0.5;
  }