.deck-builder {
  padding: 20px;
  text-align: center;
}

.deck-builder h1{
  font-family: distro;
  font-size: 2rem;
}

.card-list, .selected-cards {
  margin-top: 20px;
}

button {
  margin-left: 10px;
}

.banned{
  background-color: rgb(77, 32, 32);
}

.hovered-card-info{
  position: absolute;
}

.san-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:1rem;
}

.san-item{
  cursor: pointer;
  border: 1px solid white;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.san-item:hover{
  background-color: rgba(255, 255, 255, 0.25);
}

.san-img{
  width: 5rem;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

.title{
  display: inline-flex;
}

.title div{
  margin: 0.4rem;
}

.faccion-card{
  position: static;
}

.faccion-card img{
  width: 1rem;
}

.card-nombre{
  text-align: left;
  font-size: 1rem;
}

.card-stats{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding-left: 3rem;
}

.card-stats ul{
  display: flex;

}

.card-data{
  text-align: left;
}

/* Selección de Cartas */

.card-list{
  height: 80vh;
}

.step-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

/* .card-group{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
} */

.card-group h3{
  font-family: distro;
  font-size: 2em;
  width: 100%;
}

.card-item {
  /* border:1px solid white; */
  padding: 1rem;
  border-radius: 1rem;
}

.selected-card-item{
  font-size: 0.8rem;
  margin:0.5rem;
}

.selected-cards{
display: grid;
grid-template-columns: repeat(2, 1fr);
}

.selected-cards h3{
  grid-column: span 2;
}

.item-san{
  grid-column: span 2;
}

.item:nth-child(-n + 4) { grid-column: span 3; }
.item:nth-child(n + 5) { grid-column: span 2; }


/* collapse arrow styles */
.arrow {
  transition: transform 0.2s;
}

.arrow.expanded {
  transform: rotate(180deg);
}

.deck-builder-navigation-buttons {
    margin-top: 2rem;
    background-color: black;
    border-top:1px solid #444;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.deck-builder-navigation-buttons button{
    margin: 0 1rem;
    background-color: black;
    border: 1px solid white;
    color:white;
    padding: 0.4rem 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.deck-builder-navigation-buttons button:hover{
  background-color: #777;
}

/* ////// */
/* STEP 1 */
/* ////// */

.step-uno-filtros{
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.step-uno-filtro-faccion{
  margin: 1rem;
}

.step-uno-filtros select{
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  margin-left:1rem;
  background-color: black;
  border: 1px solid white;
  color: white;
}


/* ////// */
/* STEP 2 */
/* ////// */

/* TABLE */

.card-list .tabs{
  text-align: left;
} 

.card-list .tabs .tab{
  font-family:distro;
  font-size: 1.2em;
  padding: 0.3rem 1rem;
  position: relative;
  bottom:-1px;
  background-color: black;
  color:#777;
  border: solid 1px #777;
  border-bottom: 1px solid white;
  border-radius: 0.25rem 0.6rem 0 0;
}

.tab.active {
  border: solid 1px white !important;
  border-bottom: 1px solid black !important;
  color: white !important;
}

.card-list .card-tables{
  border: solid 1px white;
  padding: 1rem;
  height: 70vh;
  overflow: auto;
}

.card-table{
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  background-color: black;
  width: 100%;
}

.card-table tr:nth-child(even) {
  background-color: #222;
}

.card-table td{
  padding: 1rem;
}

.card-group.hidden{
  display: none;
}

.button-group{
display: inline-flex;
}

.button-group div{
  text-align: center;
  width: 2rem;
}

.deck-creator-card-faccion img{
  width: 2rem;
}

/* STEP 3 */

.deck-creator-summary-img{
  width: 1rem !important;
  text-align: center;
}

.step-3-save-deck{
  background-color: rgb(116, 36, 36);
  color:rgb(217, 126, 126);
  border: 1px solid  rgb(116, 36, 36);
  font-size: 1.4em;
  font-family: distro;
  font-weight: bold;
  padding: 0.4em 1em;
  border-radius: 2em;
  cursor:pointer;
}

.step-3-save-deck:hover{
  background-color: red;
  color:white;
  border: 1px solid red;
}

.deck-creator-step-3 input{
  background-color: black;
  color:white;
  text-align: center;
  border: 1px solid white;
  border-radius: 1em;
  padding: 0.4rem 1rem;
  margin: 1rem;
  margin-top: 2rem;
}

.mazo{
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    width: fit-content;
    background-color: black;
    border-radius: 1rem;
    border: 1px solid #777;
    margin:1rem auto;
}
.mazo div{
  padding: 0.1rem 0.4rem;
}

.mazo-group{
  margin-bottom: 0.6rem;
}

.mazo-group h4{
  font-family: distro;
  color:#777
}

.highlighted{
  grid-column: span 2;
  text-align: center;
}