.deck-details{
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.deck-details .deck-info{
    grid-column: span 2;
    text-align: center;
}

.deck-details .deck-info h1{
    font-family: distro;
    font-weight: bold;
    font-size: 1.4em;
    margin:1rem;
}

.deck-details .deck-info p{
    color:#777;
    font-size: 0.8em;
    margin-bottom: 2rem;
}

/* TAB section */

.deck-cards{
    position: relative;
    width: calc(100% - 3em);
    left: -1em;
}

.deck-cards .tabs{
    text-align: left;
  } 
  
  .deck-cards .tabs .tab{
    font-family:distro;
    font-size: 1em;
    padding: 0.3rem 1rem;
    position: relative;
    bottom:-1px;
    background-color: black;
    color:#777;
    border: solid 1px #777;
    border-bottom: 1px solid white;
    border-radius: 0.25rem 0.6rem 0 0;
  }
  
  .tab.active {
    border: solid 1px white !important;
    border-bottom: 1px solid black !important;
    color: white !important;
  }
  
  .deck-cards .tab-content{
    border: solid 1px white;
    padding: 1rem;
    height: 70vh;
    overflow: auto;
  }

  .deck-card-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .deck-card-wrapper{
        display: flex;
        align-items: center;
    }

  .deck-card-count{
    font-family: 'distro';
    font-size: 3rem;
    margin-left: 1rem;
  }

  .san-cards .deck-card-collection{
    justify-content: center;
  }
/* 
  .deck-card-wrapper{
    width: 142px;
    padding: 1em;
    height:204px;
  }

  .tab-content .deck-card-collection .deck-card-wrapper .deck-card-container{
    transform-origin: 0% 0%;
    transform: scale(0.5);
  } */


  /*  CHARTS  */
  .deck-detail-charts {
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
  }