/* src/components/AvatarCreator.css */
.avatar-creator {
    grid-column: span 2;
    text-align: center;
    margin-top: 1rem;
  }
  
  .avatar-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .category {
    margin: 0.8rem;
    text-align: center;
  }

  .category .options .option-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .options input {
    display: contents;
  }
  
  .options img {
    width: 5em;
    height: 5em;
    cursor: pointer;
    border: 2px solid transparent;
    opacity: 0.25;
    border-radius: 5em;
    margin: 0.2rem;
    background-color: #555;
  }
  
  .options img.selected {
    opacity: 1;
  }

  .options img:hover {
    opacity: 1;
  }

  .option-container {
    display: flex;
    align-items: center;
  }

  .option-container button{
    border:none;
    background-color: black;
    color: white;
  }

  .option-container button img{
    overflow: hidden;
    width: 1.2rem;
  }

  .option-container p {
    user-select: none;
  }
  
  .avatar-options  .category h4 {
    font-family: distro;
    font-weight: bold;
    margin-bottom: 0.4em;
  }