/* Reset */                
  
  body {
      font-family: sans-serif;
    /* background-image: url(img/bg-01.jpg); */
  }
  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  /* End of reset */

  .resize-container{
    width: 284.4;
    height: 407.2;
  }

  .icon-info-wrapper {
    position: absolute;
    transform-origin: top left;
  }

  /* //////////////////////////////// */
  /* ////// C A R D ///////////////// */
  /* ///////// B A S I C //////////// */
  /* //////////////// S T Y L E ///// */
  /* //////////////////////////////// */

  .inline-test{
    display: inline-flex;
  }

  .full-card-wrapper{
    width: 709px;
    height: 1016px;
  }

  .test{
    background-color: rgba(0,0,0,0.75);
  }
  
  .card-container {
    width: 711px;
    height: 1018px;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: -8px 9px 16px -3px black;
    background: #000;
    overflow: hidden;
    font-size: 10px;
    font-family: sans-serif;
    border: 1px solid white;
    
  }

  .card-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: right;
  }

  .card-frame {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: left;
  }

  .card-frame div {
    position: absolute;
  }
  
 /* //////////////////// */
  /* /// C A R D /////// */
  /* //////// N A M E // */
  /* /////////////////// */

  .card-name{
    height:560px;
    width: 146px;
    top:130px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-name-text{
    font-family: distro;
    color: #fff;
    white-space: nowrap;
    display:inline-block;
    -webkit-transform:rotate(-90deg);
    text-align:center;
}

  /* /////////////////// */
  /* /// CARD ////////// */
  /* //////// BUTTON /// */
  /* /////////////////// */

  .card-button-column{
    width: 100px;
    height: 1016px;
    right: 0px;
  }
  
  .card-button{
    /* Button-Style */
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-image: url(../assets/details/ridge.png);
    background-size: cover;
    box-shadow: -8px 14px 8px -2px rgba(0, 0, 0, 0.75);

    /* Button Position */
    left:0;
  }

  .sphere-value{
    font-family: distro;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: white;
    text-shadow:
        3px 0px 0 #000,
        -3px 0px 0 #000,
        0px 3px 0 #000,
        0px -3px 0 #000,
      -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
  }

  /* /////////////////// */
  /* CARD BUTTON DETAILS */
  /* /////////////////// */

  /* C O S T E */

  .coste{
    top:44px;
  }

  .coste-sphere{
    width: 60px;
    height: 60px;
    background-image: url(../assets/details/yellow.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* F U E R Z A */

  .fuerza{
    top:142px;
  }

  .fuerza-sphere{
    width: 60px;
    height: 60px;
    background-image: url(../assets/details/green.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* R E A N I M A C I O N */

  .reanim{
    top:564px;
  }

  .reanim-sphere{
    width: 60px;
    height: 60px;
    background-image: url(../assets/details/purple.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* A D I T A M E N T O */

  .adita{
    top: 662px;
  }

  .adita-sphere{
    width: 60px;
    height: 60px;
    background-image: url(../assets/details/gray.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* E S T R U C T U R A */

  .estructura{
    top: 772px;
  }
  
  .estructura-sphere{
    width: 60px;
    height: 60px;
    background-image: url(../assets/details/red.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* V O L U N T A D */

  .voluntad{
    top: 868px;
  }
      
  .voluntad-sphere{
    width: 60px;
    height: 60px;
    background-image: url(../assets/details/blue.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }



 
  /* //////////////////// */
  /* /// C A R D //////// */
  /* //////// T Y P E /// */
  /* //////////////////// */

  .card-icon{
    top: 720px;
    left: 124px;
  }

  .card-icon svg{
    width: 34px;
    height: 34px;
  }

  .card-type{
    height: 26px;
    width: 222px;
    top:732px;
    left:200px;
    font-family: distro;
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }


  
  /* //////////////////// */
  /* /// C A R D //////// */
  /* //////// T E X T /// */
  /* //////////////////// */
  
  .card-text{
    height: 208px;
    width: 520px;
    bottom:34px;
    left:62px;
  }

  /* //// E P I G R A F E //// */

  .card-text-epigrafe{
    font-family: distro;
    font-style: italic;
    font-size: 23px;
    color:darkslategray;
  }

  /* //// H A B I L I D A D //// */

  .card-text-habilidad{
    top:42px;
    height: 108px;
    width: 520px;

    font-family: sans-serif;
    font-size: 22px;
    letter-spacing: 3.2px;
    line-height: 26px;
    color:black;
    text-align: left;

    display: flex;
    flex-direction: column;
  }

  .card-text-habilidad div{
    position:relative;
  }

  .card-text-habilidad svg{
    width: 16px !important;
    height: 16px !important;
  }

  /* //// R E S T R I C C I O N //// */

  .card-text-restriccion{
    font-family: 'Verdana';
    bottom:30px;
    font-size: 22px;
    letter-spacing: 1.3px;
    color:black;
  }
  
  /* //// I L U S T R A D O R E //// */

  .card-text-illus{
    font-family: 'Verdana';
    bottom:0px;
    font-size: 17px;
    letter-spacing: 1.3px;
    color:black;
  }

  /* //// R A R I T Y //// */
  
  .card-text-rarity{
    width: 20px;
    bottom:0px;
    right:0px;

    font-family: 'Verdana';
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1.3px;
    color:black;
    text-align: center;
  }

  /* //// N U M B E R //// */

  .card-text-number{
    width: 100px;
    bottom:0px;
    right:24px;

    font-family: 'Verdana';
    font-size: 17px;
    letter-spacing: 1.3px;
    text-transform:uppercase;
    color:black;
    text-align: left;
  }

  .hidden{
    visibility: hidden;
  }

  .bolden{
    font-weight: bold;
  }

  .card-container{
    transform-origin: top left;
  }

  