  /* ////////////////////////// */
  /* ////// ALTO VOLTAJE ////// */
  /* ////////////////////////// */

  /* ///// NOMBRE ///// */

  .marco-avl .card-name{
    height: 570px;
    width: 114px;
    top:160px;
  }

  /* ///// ESFERAS ///// */

  .marco-avl .card-button-column{
    width: 95px;
  }
  
  .marco-avl .card-button{
    width: 54px;
    height: 54px;
    border-radius: 100%;
    box-shadow: -8px 14px 8px -2px rgba(0, 0, 0, 0.75);

    left:0;
  }

  .marco-avl .sphere-value{
    font-size: 32px;
    text-align: center;
  }

  .marco-avl .coste{
    top:46px;
  }

  .marco-avl .coste-sphere{
    width: 54px;
    height: 54px;
  }

  .marco-avl .fuerza{
    top:128px;
  }

  .marco-avl .fuerza-sphere{
    width: 54px;
    height: 54px;
  }

  .marco-avl .reanim{
    top:588px;
  }

  .marco-avl .reanim-sphere{
    width: 54px;
    height: 54px;
  }

  .marco-avl .adita{
    top:716px;
  }

  .marco-avl .adita-sphere{
    width: 54px;
    height: 54px;
  }

  .marco-avl .estructura{
    top:814px;
  }

  .marco-avl .estructura-sphere{
    width: 54px;
    height: 54px;
  }

  .marco-avl .voluntad{
    top:916px;
  }

  .marco-avl .voluntad-sphere{
    width: 54px;
    height: 54px;
  }

  /* ///// ICONO ///// */

  .marco-avl .card-icon{
    top: 753px;
    left: 95px;
  }

  .marco-avl .card-icon svg{
    width: 34px;
    height: 34px;
  }

  .marco-avl .card-type{
    height: 26px;
    width: 222px;
    top:764px;
    left:179px;

    font-family: distro;
    font-size: 20px;
    letter-spacing: 2px;
  }

  /* ///// TEXTO ///// */
  
  .marco-avl .card-text{
    height: 188px;
    width: 550px;
    bottom:22px;
    left:42px;
  }

  .marco-avl .card-text-epigrafe{
    top: 125px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.35px;
    line-height: 21px;
    width: 510px;
    color: #777;
  }

  .marco-avl .card-text-habilidad{
    top:2px;
    height: 108px;
    width: 550px;

    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 0.7px;
    line-height: 21px;
  }

  .marco-avl .card-text-habilidad div{
    position:relative;
  }

  .marco-avl .card-text-habilidad svg{
    width: 16px !important;
    height: 16px !important;
  }

  .marco-avl .card-text-restriccion{
    font-family: 'Verdana';
    bottom:62px;
    font-size: 22px;
    letter-spacing: 1.3px;
    color:black;
  }

  .marco-avl .card-text-illus{
    font-size: 16px;
    letter-spacing: 1.2px;
  }
  
  .marco-avl .card-text-rarity{
    right:0px;
  }

  .marco-avl .card-text-number{
    right:6px;
  }