.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: inline-flex;
  width: 100%;
  align-content: center;
  align-items: center;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.navbar .navbar-logo{
    height: 1.5em;
}

.navbar li:last-of-type {
  margin-left: auto;
  padding-right: 1em;
}

.navbar .navbar-username{
  font-weight: 600;
}

.navbar-logout{
  text-decoration: underline;
  color:#777;
  margin-left: 1em;
  cursor: pointer;
}

.navbar-logout:hover{
  text-decoration: underline;
  color:white;
  margin-left: 1em;
  cursor: pointer;
}

.navbar-username{
  display: inline-block;
}